@model SampleChallenges.Models.QuestionModel

<div class="jumbotron">
    <h1>ASP.NET Sample Code Challenges</h1>
</div>

<div class="row">
    <h2>Questions</h2>
</div>
<div class="row">
    <h2>Questions</h2>
</div>
<div class="row">
        
        <p>
           <b>Question: </b> @ViewBag.Question
        </p>
        <p>
           <b>Result : </b>@ViewData["Result"]
        </p>
</div>